.coral{
    background: #ceebec;
}

.aaa{
    background: #00a8b3;
}
.asd {
  background-color: #00a8b3;
}
.prefooter {
  background-color: #f5f5f5;
}

.efectoimg:hover{
    filter: opacity(50%);
    transition: 150ms;
    transform: scale(1.1);
}